html{
	margin: 0;
	padding: 0;

}
@font-face {
  font-family: 'Suhag';
  src: url('/font/GoodDog.otf'); /* IE9 Compat Modes */
  src: url('/font/GoodDog.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/font/GoodDog.otff2') format('woff2'), /* Super Modern Browsers */
       url('/font/GoodDog.otff') format('woff'), /* Pretty Modern Browsers */
       url('/font/GoodDog.otf')  format('truetype'); /* Safari, Android, iOS */
       
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url("/pics/wood.jpg");
	background-size: cover;
	font-family: "Suhag", Fallback, sans-serif;
}

.bloodybitch{
   	color: white;
   	position: fixed;
   	top: 20px;
   	left: 40px;
   	margin: 0;
   	letter-spacing: 4px;
}
.bloody{
	margin-bottom: 10px;
}
.bitch{
	position: fixed;
	left: 45px;
	margin: 0;
}

.dialogue{
	position: fixed;
	top: 28%;
	
	/*background-color: red;*/
	width: 100%;
	height: auto; 
	color: white;
	font-size: 60px;
	letter-spacing: 4px;
	margin: 0;
	word-spacing: 15px;
	text-align: center;
	text-shadow: 2px 2px black;
	
}
#dialoguetext{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 40px;
	padding-right: 40px;
}


button{
	background-image: url("/pics/cmra2.svg");
	background-size: cover;
	height: 70px;
	width: 70px;
	position: fixed;
	top: 80%;
	left: 47%;
	background-color: rgba(190,190,0,0.5);
	border-radius: 20%;
	border-color: white;
}  
button:focus{
	outline: 0 !important;	
}      
 
.footersocial{
	position: fixed;
	bottom: 0;
	right: 0;

} 
img{
	height: 50px;
	width: 50px;
}

/* Media Query Code Below this Line */

@media screen and (max-width: 1100px) {
	button{
		top: 88%;
	}
}
@media screen and (max-width: 800px) {
	
	button{
		top: 87%;
		height: 57px;
		width: 57px;
	}

}
@media screen and (max-width: 730px) {
	button{
		top: 90%;
		left: 43%;
		
	}

	.dialogue{
		top: 25%;
	}
}
@media screen and (max-width: 680px) {
	button{
		left: 10%;
		height: 55px;
		width: 55px;
	}

}

@media screen and (max-width: 650px) {
	button{
		left: 10%;
		height: 55px;
		width: 55px;
	}
	.dialogue{
		font-size: 50px;
	}
}

@media screen and (max-width: 380px){
	.dialogue{
		font-size: 30px;
	}
	#dialoguetext{
		
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media screen and (max-width: 500px) {
	button{
		height: 50px;
		width: 50px;
		top: 90%;
		left: 2%;	
	}
	.dialogue{
		font-size: 45px;
	}

	.bloodybitch{
   	    
   	    top: 5px;
   	    left: 40px;
   	    margin-top: 0;
	}
	img{
		height: 35px;
		width: 35px;
	}
}

@media screen and (max-height: 700px) and (min-width: 950px) {
	.dialogue{
		font-size: 55px;
	}
}
@media screen and (max-height: 630px) and (min-width: 950px) {
	button{
		height: 60px;
		width: 60px;
		top: 88%;
	}
}
@media screen and (max-height: 500px) and (min-width: 950px){
	button{
		height: 50px;
		width: 50px;
		top: 88%;
		left: 5%;
	}
}








