html{
	margin: 0;
	padding: 0;

}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: black;
}

.volcanic{
   	position: fixed;
   	top: 20px;
   	left: 20px;
   	margin: 0;
   	height: 60px;
   	width: 60px; 
}

.dialogue{
	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -70%);
}

#participant-name {
	width: fit-content;
    margin: auto;
    background: #FECE2F;
    margin-bottom: 20px;
}

#dialoguetext{
	font-size: 30px;
	text-align: center;
	width: fit-content;
	max-width: 70%;
    margin: auto;
    margin-bottom: 40px;
}


.button{
	width: fit-content;
    margin: auto;
	background: #1E7AE8;
	color: white;
	padding: 12px 20px;
	border-radius: 4px;
	box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}    



